<div class="inner">
  <div class="title">
    {{t 'app.tagedittitle'}}
  </div>
  <div class="description">
    {{t 'app.tageditdesc'}}
  </div>
  <div class="error"></div>
  <input type="text" name="name" value="{{title}}">
  <div class="buttons">
    <button class="btn primary" type="button" name="save">{{t 'app.save'}}</button>
    <button class="btn primary-hollow" type="button" name="cancel">{{t 'app.cancel'}}</button>
    <button class="btn alert" type="button" name="delete">{{t 'app.delete'}}</button>
  </div>
</div>
